body {
    background-color: #272b30 !important;
}

.card-text {
    color: #c4c6ca !important;
    font-size: 14px !important;
    font-weight: 700 !important;
}

header img {
    max-height: 30vh;
    object-fit: cover;
}

.navbar-brand img {
    max-width: 40px !important;
}

.navbar-nav .active {
    color: #09c !important;
}

.nav-link {
    color: white !important;
    transition: 0.9s;
}

.nav-link:hover {
    color: #09c !important;
}

.navbar {
    transform: translateY(-30px);
}

.bg-nav {
    background-color: #3A497B !important;
}

.home .card {
    filter: grayscale(0.7);
    transition: transform 0.5s, filter 0.5s 0.1s;
}

.home .card:hover {
    transform: scale(1.05);
    filter: grayscale(0);
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    left: 50%;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}

.loader::after {
    animation-delay: 1s;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}